<div class="page-wrapper ">
  <div class="auth-wrapper">
    <div class="auth-overlay">

    </div>
    <div class="container">
      <div class="authentication-form">
        <div class="row">
          <div class="col-md-6 auth-image">

          </div>
          <div class="col-md-6 login-form">
            <form class="auth-form" action="" method="post">
              <div class="auth-form-header">
                <h4>Login</h4>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-auth btn-primary">Sign in</button>
                  <div class="forget-action">
                    <small>forgot your password?  <a href="#">Click here</a> </small>
                  </div>
                  <div class="register-action">
                    <span class="or">Or</span>
                    <a class="btn btn-secondary btn-auth" href="/register">Register Now</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
