<nav id="sidebar">
    <div class="sidebar-header">
        <a href=""> <img class="img-responsive logo-img" src="/assets/images/logo.png" alt=""> </a>
    </div>

    <ul class="list-unstyled components">
        <p>Fadipe Ezekiel</p>
        {{userSession.Id}}
        <li class="menu-item">
            <a href="#">
                <div class="menu-icon">
                    <i class="fas fa-columns"></i>
                </div>
                <div class="menu-text">
                    Dashboard
                </div>
            </a>
        </li>
        <li class="menu-item">
            <a href="#">
                <div class="menu-icon">
                    <i class="fas fa-users-cog"></i>
                </div>
                <div class="menu-text">
                    My Profile
                </div>
            </a>
        </li>
        <li class="menu-item">
            <a href="#">
                <div class="menu-icon">
                    <i class="fab fa-servicestack"></i>
                </div>
                <div class="menu-text">
                    Service Request
                </div>
            </a>
        </li>
        <li class="menu-item">
            <a href="#">
                <div class="menu-icon">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <div class="menu-text">
                    My Transactions
                </div>
            </a>
        </li>

    </ul>
</nav>