<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid collapse-button">

      <button type="button" id="sidebarCollapse" class="btn btn-info btn-transparent">
          <i class="fas fa-align-left"></i>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
      </button>

      <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link user-link" href="#" >
                      <img src="./assets/images/logo.png" class="img-responsive user-avatar" alt="">
                  </a>
              </li>
              
          </ul>
      </div>
  </div>
</nav>