<div class="page-wrapper ">
  <div class="auth-wrapper">
    <div class="auth-overlay">

    </div>
    <div class="container">
      <div class="authentication-form">
        <div class="row">
          <div class="col-md-6 auth-image">

          </div>
          <div class="col-md-6 register-form">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#customer" role="tab" data-toggle="tab">I am a Customer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#vendor" role="tab" data-toggle="tab">I am a Vendor</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show active" id="customer">
                <form class="auth-form" (ngSubmit)="registerCustomer()" #customerForm ="ngForm" novalidate>
                    
                  <div class="auth-form-header">
                    <h4>Customer's Registration</h4>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="FullName" placeholder="Full name" [(ngModel)]="usersModel.FullName" >
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="email" class="form-control"  name="EmailAddress" placeholder="Email address" [(ngModel)]="usersModel.EmailAddress">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="PhoneNumber" placeholder="Phone number" [(ngModel)]="usersModel.PhoneNumber">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="password" class="form-control"  name="Password" placeholder="Password" [(ngModel)]="usersModel.Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="password" class="form-control"  name="PasswordConfirm" placeholder="Confirm password" [(ngModel)]="usersModel.PasswordConfirm">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control"  name="UserAddress" placeholder="Residential address" [(ngModel)]="usersModel.UserAddress">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <select type="text" class="form-control"  name="State" [(ngModel)]="usersModel.State" (change)="onChange($event.target.value)">
                        <option value="">State</option>
                        <option *ngFor="let state of states" [ngValue]="state.state">{{state.state}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <select type="text" class="form-control"  name="LocalGovernment" [(ngModel)]="usersModel.LocalGovernment">
                        <option value="">Local Government</option>
                        <option *ngFor="let lga of Lgas" [ngValue]="lga.local_government">{{lga.local_government}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-auth btn-primary">Register</button>

                      <div class="register-action">
                        <span class="or">Or</span>
                        <a class="btn btn-secondary btn-auth" routerLink="">Login</a>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
              <div role="tabpanel" class="tab-pane fade" id="vendor">
                <form class="auth-form" (ngSubmit)="registerVendor()" #vendorForm ="ngForm" novalidate >
                  <div class="auth-form-header">
                    <h4>Vendor's Registration</h4>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control"  placeholder="Business name" name="Vendor.BusinessName" [(ngModel)]="usersModel.Vendor.BusinessName">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control"  placeholder="Full name" name="FullName" [(ngModel)]="usersModel.FullName">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="email" class="form-control"  placeholder="Email address" name="EmailAddress" [(ngModel)] ="usersModel.EmailAddress">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control"  placeholder="Phone number" name="PhoneNumber" [(ngModel)]="usersModel.PhoneNumber">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="password" class="form-control"  placeholder="Password" name="Password" [(ngModel)]="usersModel.Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="password" class="form-control"  placeholder="Confirm password" name="PasswordConfirm" [(ngModel)]="usersModel.PasswordConfirm">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control"  placeholder="Residential address" name="UserAddress" [(ngModel)]="usersModel.UserAddress">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <select type="text" class="form-control"  name="State" [(ngModel)]="usersModel.State" (change)="onChange($event.target.value)">
                        <option value="">State</option>
                        <option *ngFor="let state of states" [ngValue]="state.state">{{state.state}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="col-sm-12">
                          <select type="text" class="form-control"  name="LocalGovernment" [(ngModel)]="usersModel.LocalGovernment">
                            <option value="">Local Government</option>
                            <option *ngFor="let lga of Lgas" [ngValue]="lga.local_government">{{lga.local_government}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <select type="text" class="form-control"  name="Vendor.ServiceRendered" [(ngModel)]="usersModel.Vendor.ServiceRendered" >
                          <option value="">Service Category</option>
                          <option *ngFor="let serv of allServices" [ngValue]="serv.Id">{{serv.Name}}</option>
                      </select>
                      
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                        <select type="text" class="form-control"  name="Vendor.BankName" [(ngModel)]="usersModel.Vendor.BankName" >
                            <option value="">Bank Name</option>
                            <option *ngFor="let bank of Banks" [ngValue]="bank">{{bank}}</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control"  placeholder="Account name" name="Vendor.AccountName" [(ngModel)]="usersModel.Vendor.AccountName">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text" class="form-control"  placeholder="Account number" name="Vendor.AccountNumber" [(ngModel)]="usersModel.Vendor.AccountNumber">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-auth btn-primary">Sign in</button>

                      <div class="register-action">
                        <span class="or">Or</span>
                        <a class="btn btn-secondary btn-auth" href="/register">Register Now</a>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
